{% extends "genome_functionalities/base.html" %}
{% load static %}
{% block content0 %}
    <title>Translation</title>
{% endblock content0 %}

{% block content1 %}
    <h1>Translation Tool</h1>
{% endblock content1 %}

{% block content2 %}
    <main>
        <div class="description">
            <p>In molecular biology and genetics, <a class="translation-link" href="http://biology.kenyon.edu/courses/biol114/Chap05/Chapter05.html" target="_blank"><strong>translation</strong></a> is the process of decoding messenger RNA (mRNA) to a polypeptide by ribosomes, which in turn folds into a functional active protein.</p>
            <img class="dna-rna-protein" src="{% static 'genome_functionalities/images/transcript_translate.png' %}" alt="rna-protein">
            <ul style="padding-left: 0;">
                <li style="display: block; color: green; font-size: 17px;">Start codon is AUG. Within the cell, ribosomes start the translation process at this codon.</li>
                <li style="display: block; color: red; font-size: 17px;">The stop codons are UAA, UAG, and UGA. Translation stops once any of stop codons are reached.</li>
            </ul>
            <br>
            <small>Below you can choose to translate the whole sequence entered or whether start and stop codons should be considered</small>
        </div>
        <div id="input-box">
            <form id="seq-input" action="" method="get">
                <small>Paste the raw or FASTA sequence of mRNA into the text area below.</small>
                <select name="function">
                    <option value="robust">Translate whole seq</option>
                    <option value="start-codon">Translate start-stop</option>
                </select>
                <textarea name="sequence" placeholder="Enter your sequence here" cols="130" rows="15"></textarea>
                <button type="submit" name="submit">Submit</button>
                <button type="reset" name="Reset">Clear</button>
            </form>
        </div>
    </main>
{% endblock content2 %}

{% block content3 %}
    <script src="{% static 'genome_functionalities/translation.js' %}"></script>
{% endblock content3 %}
